{% extends "base.html" %}
{% block left_panel %}
    <img id="left_01" class="panel_pics" scr=""/>
    <img id="left_02" class="panel_pics" scr=""/>
    <img id="left_03" class="panel_pics" src=""/>
{% endblock left_panel %}

{% block body %}
    <div id="main_pics">
        <img id="01" src="../Images/bio/main_01.jpg" class="main_img" />
        <img id="02" src="../Images/bio/main_02.jpg" class="main_img" />
        <img id="03" src="../Images/bio/main_03.jpg" class="main_img" />
    </div>
    <p> <br /> <br />Based in Zaporozhye, Ukraine, Yuriy Loboda founded ENT Mods 4 years ago, giving up a
        promising career path, to take a risk on a greater passion. <br /> <br />
        His risk paid off: Today his mods are shipped across the globe, in high demand, with thousands of fans.
    </p>
{% endblock %}
{% block right_panel %}
    <img id="right_01" class="panel_pics" src=""/>
    <img id="right_02" class="panel_pics" src=""/>
    <img id="right_03" class="panel_pics" src=""/>
{% endblock right_panel %}