{% extends "base.html" %}
{% block body %}
    <div id="thumbs">
        <img src="../Images/preview/gallery_01.jpg" class="thumb" id="01" />
        <img src="../Images/preview/gallery_02.jpg" class="thumb" id="02" />
        <img src="../Images/preview/gallery_03.jpg" class="thumb" id="03" />
        <img src="../Images/preview/gallery_04.jpg" class="thumb" id="04" />
        <img src="../Images/preview/gallery_05.jpg" class="thumb" id="05" />
        <img src="../Images/preview/gallery_06.jpg" class="thumb" id="06" />
        <img src="../Images/preview/gallery_07.jpg" class="thumb" id="07" />
        <img src="../Images/preview/gallery_08.jpg" class="thumb" id="08" />
        <img src="../Images/preview/gallery_09.jpg" class="thumb" id="09" />
        <img src="../Images/preview/gallery_10.jpg" class="thumb" id="10" />
        <img src="../Images/preview/gallery_11.jpg" class="thumb" id="11" />
        <img src="../Images/preview/gallery_12.jpg" class="thumb" id="12" />
        <img src="../Images/preview/gallery_13.jpg" class="thumb" id="13" />
        <img src="../Images/preview/gallery_14.jpg" class="thumb" id="14" />
        <img src="../Images/preview/gallery_15.jpg" class="thumb" id="15" />
    </div>
    <img id="main_prev" src="../Images/gallery/gallery_15.jpg" />
{% endblock %}