{% extends "base.html" %}
{% block body %}
    <div id="thumbs">
        <img src="../Images/preview/gallery_01.jpg" alt="gallery preview image 1" class="thumb" id="01" />
        <img src="../Images/preview/gallery_02.jpg" alt="gallery preview image 2" class="thumb" id="02" />
        <img src="../Images/preview/gallery_03.jpg" alt="gallery preview image 3" class="thumb" id="03" />
        <img src="../Images/preview/gallery_04.jpg" alt="gallery preview image 4" class="thumb" id="04" />
        <img src="../Images/preview/gallery_05.jpg" alt="gallery preview image 5" class="thumb" id="05" />
        <img src="../Images/preview/gallery_06.jpg" alt="gallery preview image 6" class="thumb" id="06" />
        <img src="../Images/preview/gallery_07.jpg" alt="gallery preview image 7" class="thumb" id="07" />
        <img src="../Images/preview/gallery_08.jpg" alt="gallery preview image 8" class="thumb" id="08" />
        <img src="../Images/preview/gallery_09.jpg" alt="gallery preview image 9" class="thumb" id="09" />
        <img src="../Images/preview/gallery_10.jpg" alt="gallery preview image 10" class="thumb" id="10" />
        <img src="../Images/preview/gallery_11.jpg" alt="gallery preview image 11" class="thumb" id="11" />
        <img src="../Images/preview/gallery_12.jpg" alt="gallery preview image 12" class="thumb" id="12" />
        <img src="../Images/preview/gallery_13.jpg" alt="gallery preview image 13" class="thumb" id="13" />
        <img src="../Images/preview/gallery_14.jpg" alt="gallery preview image 14" class="thumb" id="14" />
        <img src="../Images/preview/gallery_15.jpg" alt="gallery preview image 15" class="thumb" id="15" />
    </div>
    <img id="main_prev" alt="main image" src="../Images/gallery/gallery_15.jpg" />
{% endblock %}