<form id="paypal_form" action="https://sandbox.paypal.com" method="post">
    <input type="hidden" name="cmd" value="_cart" />
    <input type="hidden" name="upload" value="1" />
    <input type="hidden" name="app_id" value="AVbnvl-I5GoescNdAr4INxVf2ziEALB5mpcM4dO5mhXi-Y_2wk2sLPBOqZUb9S3nI4N_lofNf-NYh_t0" />
    <input type="hidden" name="business" value="sb-mfeft77503@business.example.com" />
    <input type="hidden" name="custom" value="0d9e9432837d2e4c496ce75bb26e9246" />
    <input type="hidden" name="ipn_notification_url" value="https://ent-serv.onrender.com/ipn/" />
    {% for num in range(num_of_items) %}
        <input type="hidden" name=item_name_{{num +1}} value={{item["{}".format(num)]}} />
        <input type="hidden" name=amount_{{num +1}} value={{price["{}".format(num)]}} />
    {% endfor %}
    <input type="hidden" name=item_name_{{num_of_items + 1}} value="shipping" />
    <input type="hidden" name=amount_{{num_of_items + 1}} value={{shipping}} />
    <input type="hidden" name="on0" value="user_id" />
    <input type="hidden" name="os0" value="{{s_id}}" />
    <input type="hidden" name="shipping" value={{shipping}} />
    <input type="hidden" name="return_url" value="https://ent-serv.onrender.com/order_status/order_status.html" />
</form>
