{% extends "base.html" %}
{% block body %}
	<nav id="materials">
		<div id="maple" class="mat_pic_contain">
			<img class="mat_photo" src="../Images/Maple.jpeg" alt="Maple">
			<a href="../Maple/maple.html">
				<div class="overlay">
					<h1>Maple</h1>
				</div><!--overlay-->
			</a>
		</div><!--pic_contain-->
		<div id="ash" class="mat_pic_contain">
			<img class="mat_photo" src="../Images/Black_Ash.jpeg" alt="Black Ash">
			<a href="../Ash/ash.html">
				<div class="overlay">
					<h1>Black Ash</h1>
				</div><!--overlay-->
			</a>
		</div><!--pic_contain-->
		<div id="hybrid" class="mat_pic_contain">
			<img class="mat_photo" src="../Images/Brass_Hybrid.jpeg" alt="Brass Hybrid">
			<a href="../Hybrid/hybrid.html">
				<div class="overlay">
					<h1>Brass Hybrid</h1>
				</div><!--overlay-->
			</a>
		</div><!--pic_contain-->
		<div id="zjel" class="mat_pic_contain">
			<img class="mat_photo" src="../Images/Zjelezyaka.jpeg" alt="Zjelezyaka">
			<a href="../Zjelezyaka/zjel.html">
				<div class="overlay">
					<h1>Zjelezyaka</h1>
				</div><!--overlay-->
			</a>
		</div><!--pic_contain-->
	</nav><!--materials-->
	<nav id="type">
		<div id="V_3"class="type_pic_contain">
			<img class="type_photo" src="../Images/V3.jpeg" alt="V3">
			<a href="../V_3/V_3.html">
				<div class="overlay">
					<h2>V3</h2>
				</div><!--overlay-->
			</a>
		</div><!--pic_contain-->
		<div id="V_25" class="type_pic_contain">
			<img class="type_photo" src="../Images/V25.jpeg" alt="V25">
			<a href="../V_25/V_25.html">
				<div class="overlay">
					<h2>V2.5</h2>
				</div><!--overlay-->
			</a>
		</div><!--pic_contain-->
	</nav><!--type-->
{% endblock %}