{% extends "base.html" %}
{% block body %}
    <div id="thumbs">
        <img src="../Images/preview/V_3_01.jpg" class="thumb" id="01" />
        <img src="../Images/preview/V_3_02.jpg" class="thumb" id="02" />
        <img src="../Images/preview/V_3_03.jpg" class="thumb" id="03" />
        <img src="../Images/preview/V_3_04.jpg" class="thumb" id="04" />
        <img src="../Images/preview/V_3_05.jpg" class="thumb" id="05" />
        <img src="../Images/preview/V_3_06.jpg" class="thumb" id="06" />
    </div>
    <p id="descript">
        <img id="main_prev" src="../Images/main_prev/V_3_01.jpg" />
        With a Bulging button at the base, and a tapering top, the V3 features a comfortable feel, with a flash of elegance. <br />
        Maple is the classic stabilized standard, for stab-wood mods. Swirling beautiful vibrance. <br />
        Black Ash is a more rare material in the industry. Its dark and sinister weave, set it apart from the standard fare. <br />
        Peek through to the treasure within. A marvel of beauty and creativity; You won't find the Brass Hybrid at your local Vape shop.<br />
        Though made of brass, the Zjelezyaka's name means, 'chunk of iron'. With the shine of ornate jewelry, and the grip of a motorcycle handlebar--
        does a vape get more satisfying?
    </p> <!--descript-->
    <table>
        <tr>
            <th>V3</th>
            <th scope="col">18650</th>
            <th scope="col">21700</th>
        </tr>
        <tr>
            <th scope="row">Maple</th>
            <td>$250 <div class="click_add" id="18650_maple"><img src="../Images/Cart.png" class="cart"/>
                <img src="../Images/Add.png" class="add"/></div><div id="maple_18650_1" class="dot"></div>
                <div id="maple_18650_2" class="dot"></div><div id="maple_18650_3" class="dot"></div></td>
            <td>$270<div class="click_add" id="21700_maple"><img src="../Images/Cart.png" class="cart"/>
                <img src="../Images/Add.png" class="add"/></div><div id="maple_21700_1" class="dot"></div>
                <div id="maple_21700_2" class="dot"></div><div id="maple_21700_3" class="dot"></div></td>
        </tr>
        <tr>
            <th scope="row">Ash</th>
            <td>$300 <div class="click_add" id="18650_ash"><img src="../Images/Cart.png" class="cart"/>
                     <img src="../Images/Add.png" class="add"/></div><div id="ash_18650_1" class="dot"></div>
                     <div id="ash_18650_2" class="dot"></div><div id="ash_18650_3" class="dot"></div>
            </td>
            <td>$320 <div class="click_add" id="21700_ash"><img src="../Images/Cart.png" class="cart"/>
                     <img src="../Images/Add.png" class="add"/></div><div id="ash_21700_1" class="dot"></div>
                     <div id="ash_21700_2" class="dot"></div><div id="ash_21700_3" class="dot"></div>
            </td>
        </tr>
        <tr>
            <th scope="row">Brass Hybrid</th>
            <td>$250 <div class="click_add" id="18650_hybrid"><img src="../Images/Cart.png" class="cart"/>
                     <img src="../Images/Add.png" class="add"/></div><div id="hybrid_18650_1" class="dot"></div>
                     <div id="hybrid_18650_2" class="dot"></div><div id="hybrid_18650_3" class="dot"></div>
            </td>
            <td>$270 <div class="click_add" id="21700_hybrid"><img src="../Images/Cart.png" class="cart"/>
                     <img src="../Images/Add.png" class="add"/></div><div id="hybrid_21700_1" class="dot"></div>
                     <div id="hybrid_21700_2" class="dot"></div><div id="hybrid_21700_3" class="dot"></div>
            </td>
        </tr>
        <tr>
            <th scope="row">Zjelezyaka</th>
            <td id="zjel_cell" colspan="2">N/A|V2.5-only|N/A</td>
        </tr>
    </table>
    <table id="colors">
        <tr>
            <td id="color_1"></td>
            <td id="color_2"></td>
            <td id="color_3"></td>
            <td id="color_4"></td>
            <td id="color_5"></td>
            <td id="color_6"></td>
        </tr>
        <tr>
            <td id="color_7"></td>
            <td id="color_8"></td>
            <td id="color_9"></td>
            <td id="color_10"></td>
            <td id="color_11">No Dye</td>
            <td id="color_12">Custom</td>
        </tr>
    </table>
    <form>
        <input id="comments" placeholder="comments..." />
    </form>
{% endblock %}